{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "CharacterSkills": "Server=你的服务器\\实例名;Database=CharacterSkills;User Id=你的SQL登录名;Password=你的密码;TrustServerCertificate=True;Encrypt=False;"
  }
}
